/* ==========================================================================
Title: Search Application 
Auther: Anas Naim
Date: 24/11/2019
============================================================================ */
body{ 
    font-family: Arial, Helvetica, sans-serif; 
    padding:0;
    margin:0;
    color:#eee;    
    padding-top: 40px;
    padding-bottom: 40px;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
header{text-align:center;}

#delete{
    background-image: linear-gradient(to right, #f4b05d , #f19539);
    font-weight: bold;
    height: 50px;
    width: 100px;
    line-height: 30px;
    font-size: 15px;
    border: 2px solid #808080;
    cursor: pointer;
}

#delete span{
    background: #fff;
    border-radius: 15px;
    padding: 8px;
    height: 15px;
    display: block;
    float: right;
    line-height: 16px;
    font-size: 24px;
    font-weight: normal;
}
section {
    display: block;
    position: relative;
    max-width:none;
    margin: 45px 150px;
}
footer{
    background-color: #00000080;
    padding: 1rem 0;
    bottom: 0px;
    text-align: center;
    position: absolute;
    width: 100%;
    color: #aaa;
    z-index: -1;
}
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}
#city{
    height: 50px;
    position: relative;
    color: #3a616e;
    font-size: 18px;
    letter-spacing: 1px;
    z-index: 1;
    width: 100%;
    border-radius: 10px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 75px 3px 10px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
#city:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}
.overlay{    
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #00000070 url("img/dot-overlay.png");
    z-index: -100;
}
.search{width:90%;}
.searchBtn {
    height: 50px;
    border: 0;
    position: relative;
    color: #3a616e;
    font-size: 18px;
    z-index: 1;
    background: transparent;
    box-shadow: none;
    float: right;
    top: -55px;
    cursor:pointer;
    right: -85px;
}
.result ul{
    width: 90%;
    padding: 0px;
    margin: 0px;
    list-style: none;
    background: #ffffffc9;
    margin-top: -3px;
    color: #4c4c4c;
    font-weight: bold;
    border-bottom-right-radius: 10px;
    margin-left: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    z-index: 1;
}
.result ul li {
    padding: 5px;
    border-bottom: 1px solid #4c4c4c;
    cursor: pointer;
}
.result ul li:hover {
    background: #ffffffc9;
}
.result ul li:last-child{
    border-bottom: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.searchHistory{
    width: 50%;
    margin: auto;
    background: #3a616e;
    padding: 10px;
    border-radius: 10px;
}
.searchHistory ul{
    list-style: none;
    padding: 0;
}
.center{text-align:center; margin:auto;}

.searchHistory ul li {
    padding: 5px;
    border-bottom: 1px #fff solid;
}
.searchHistory ul li .rm {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}
.searchHistory h3 span {
    float: right;
    font-size: 14px;
    cursor: pointer;
    text-decoration: underline;
}
.searchHistory ul li .datetime {
    float: right;
    font-size: 10px;
    margin-right: 10px;
    margin-top: 7px;
}
/* mobile device */
@media only screen and (max-width: 768px) {
    section {
        display: block;
        position: relative;
        max-width:none;
        margin: 45px 45px;
    }
    .searchHistory{
        width: 300px;
    }
    .search {
        width: 70%;
    }
    h1 {
    font-size: 1.5em;
    }
    h2 {
    font-size: 1em;
    }
    #city{
        height:32px;
    }
    .searchBtn{
        top: -40px;
        height:32px;
    }
}